// The contact form 

<!DOCTYPE html>
<html>
  <head>
    <title>NodeMailer emails</title>
  </head>
  <body>
    <div>
      <form action='/contact/send' method='POST'>
        <label>Name</label>
        <input type='text' name='name' placeholder='Your name'>
        <label>Your Email</label>
        <input type='text' name='email' placeholder='eg. johndoe@gmail.com'>
        <label>Subject</label>
        <input type='text' name='subject' placeholder='Subject'>
        <label>Message</label>
        <textarea type='text' name='message'></textarea>
        <button type='submit'>Submit</button>
      </form>
    </div>
  </body>
</html>
